.button1 {
    position:absolute;
    height: 29px;
    width: 29px;
    left: 10px;
    top: 145px;
  }

  .button2 {
    position:absolute;
    height: 29px;
    width: 29px;
    left: 45px;
    top: 145px;
  }

  .button3 {
    position:absolute;
    height: 29px;
    width: 29px;
    left: 80px;
    top: 145px;
  }
  
  .button4 {
    position:absolute;
    height: 29px;
    width: 29px;
    left: 115px;
    top: 145px;
  }
  .button5 {
    position:absolute;
    height: 29px;
    width: 29px;
    left: 150px;
    top: 145px;
  }
  .button6 {
    position:absolute;
    height: 29px;
    width: 29px;
    left: 185px;
    top: 145px;
  }
  .button7 {
    position:absolute;
    height: 29px;
    width: 29px;
    left: 220px;
    top: 145px;
  }
  .button8 {
    position:absolute;
    height: 29px;
    width: 29px;
    left: 255px;
    top: 145px;
  }
  .button9 {
    position:absolute;
    height: 29px;
    width: 29px;
    left: 290px;
    top: 145px;
  }

 